# Binaries
tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Air
.air.toml.bak
build-errors.log

# Database (local / dev)
*.db

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
